:root {
  --green: #40dddd;
  --white: #FFFFFF;
  --black: #000000;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #000000;
    background-color: #f8f9fa;
}
li {
  list-style: circle;
}
.list {
  list-style: square;
}
.light-theme {
  --bg: var(--green);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
}
.dark-theme {
  --bg: var(--black);
  --fontColor: var(--green);
  --btnBg: var(--white);
  --btnFontColor: var(--black);
}
header {
  background-color: rgb(233, 3, 3);
}
img{
  height: 500px;
  width: 700px;
  border-radius: 100%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}
div{
  background-color:#00817b
}
footer {
	background: #e70909;
	color: #fff;
	text-align: center;
	padding: 18px 0;
	margin-top: auto;
	font-size: 1em;
	letter-spacing: 1px;
}
nav{
  background-color: #40dddd;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    text-decoration: none;
    padding: 1rem 1.5rem;
    display: block;
    transition: background-color 0.3s;
}
h1{
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
li h3{
  height: 500px;
}
audio{
  background-size: auto;
  position: relative;

}